/*Agregado william*/
.ancho{
    max-width: 1200px;
     margin: auto;
}
.Speaker{
    /* border: 2px solid red; */
    width: 100%;
}
/*Fin Agregado william*/

.init-image {
    background-image: url("../img/background.jpg");
    height: calc(100% - 90px);
    margin-top: 90px;
}

.section-will {
    background-color: #F1F3F7;
}

.card-hover {
    height: 100%;
}

.card-hover:hover {
    scale: 1.06;
    transition: ease all 0.5s;
}

@media (min-width: 992px) {
    .left-badge {
        text-align: start !important;
    }
}