<footer>
    <div class="section-will">
        <div class="d-flex px-4 py-4 flex-wrap align-items-center justify-content-center align-content-center
                    justify-content-md-between" style="max-width: 1300px; margin: auto;">
            <div class="col-md-5 px-2 justify-content-start d-flex">
                <div id="information-footer" class="col py-2 px-3 text-start">
                    <h5>ICAIMH 2023</h5>
                    <ul class="nav flex-column mb-1">
                        <p id="title-conference" class="m-0">International Conference on Artificial Intelligence for
                            Mental Health</p>
                        <p class="m-0">Mérida, Yucatán, México</p>
                    </ul>
                </div>
            </div>
            <div class="col-md-5 justify-content-end d-flex" id="extend-nav">
                <div class="col-md-8 col-lg-6 p-2 navbar justify-content-end">
                    <ul class="navbar-nav flex-column custom-width">
                        <li class="nav-item center-footer"><a href="/page/program/" class="nav-link p-0 m-1">PROGRAM</a></li>
                        <li class="nav-item center-footer"><a href="/page/registration/" class="nav-link p-0 m-1">REGISTRATION</a></li>
                    </ul>
                </div>
                <div class="col-md-8 col-lg-6 p-2 navbar justify-content-end">
                    <ul class="navbar-nav flex-column custom-width">
                        <li class="nav-item center-footer"><a href="/page/call-for-abstract/" class="nav-link p-0 m-1">CALL FOR PAPERS</a></li>
                        <li class="nav-item center-footer"><a href="/page/program-committee/" class="nav-link p-0 m-1">PROGRAM COMMITTEE</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="d-flex p-4 flex-wrap align-items-center justify-content-center">
        <img src="/assets/img/icon.png" class="image-icon img-fluid img-thumbnail border-0"
             style="background-color: transparent;" alt="ICAIMH">
        <span class="mx-2">Copyright © <b>ICAIMH 2023</b>. All Rights Reserved</span>
        <span class=""> | Development by <a href="/page/our-team" class="text-decoration-none fw-bold" style="color: #842029">team <i class="fa-solid fa-heart" style="color: #842029"></i></a></span>
    </div>
</footer>
