<main class="pb-3">

  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay autoplay="" muted="" loop="" playsinline="" id="bg-video">
          <source src="assets/video/background.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="container m-0">
            <div class="row p-0">
              <div class="col-lg-12 p-lg-5 p-1">
                <div class="caption text-center">
                    <img src="assets/img/icon.png"/>
              <h6>Welcome to ICAIMH</h6>
              <h2>INTERNATIONAL CONFERENCE ON ARTIFICIAL INTELLIGENCE FOR MENTAL HEALTH</h2>
              <p class="text-center">
            The International Conference on Artificial Intelligence for Mental Health is the premier, annual forum bringing together cutting-edge artificial intelligence innovations and advancements in mental healthcare.
            </p>
                          <p class="text-center">
 It establishes a unique bridge between computational sciences and psychological well-being. 
              </p>
              <div class="main-button mt-3">
                  <div class="scroll-to-section"><a href="https://2026.icaimh.org">Next Conference ICAIMH 2026</a></div>
              </div>
          </div>
              </div>
            </div>
          </div>
      </div>
  </section>


    <br>
    <section class="container p-4 p-md-5" style="max-width: 1300px; margin: auto;">

        <p class="my-5 mx-3" style="text-align: justify; font-size: 1.2em;">Welcome to the International Conference on Artificial Intelligence for
            Mental Health (ICAIMH)! This conference aims to bring together experts from the fields of Artificial Intelligence
            and Mental Health to explore the latest developments, challenges, and opportunities in the
            application of AI in mental health. The conference will provide a platform for interdisciplinary
            discussions and the exchange of ideas, experiences and knowledge on the use of AI in mental
            health research, diagnosis, treatment and care. Join us as we delve into the exciting and
            rapidly evolving field of AI in mental health and its potential to improve the lives of
            individuals and communities worldwide. We look forward to seeing you at ICAIMH.</p>

        <div class="row">

        <div class="col-lg-8 col-md-10 col-sm-12 align-self-center my-5 p-0">

          <div class="video">
            <video style="width: 100%" controls src="assets/video/icaimh.mp4" poster="assets/img/video-cover.png"></video>
          </div>
        </div>
    </div>

    </section>



<section class="upcoming-meetings" id="activities">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="section-heading mb-5">
            <h2>PAST EDITIONS</h2>
          </div>
        </div>
        <div class="col-lg-12">
          <div class="row">

          <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="meeting-item">
                <div class="row thumb">
                  <a href="https://2025.icaimh.org/"><img src="assets/img/icaimh2025.png"></a>
                </div>

                <div class="down-content">
                  <div class="row">
                  <div class="date col-lg-4">
                    <h6>July<span>2025</span></h6>
                  </div>
                  <div class="col-lg-8">
                    <a href="https://2025.icaimh.org/"><h4>Anáhuac Mayab University</h4></a>
                  </div>
            
                </div>
                </div>
              </div>
            </div>
            
            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="meeting-item">
                <div class="row thumb">
                  <a href="https://2024.icaimh.org/"><img src="assets/img/icaimh2024.jpg"></a>
                </div>

                <div class="down-content">
                  <div class="row">
                  <div class="date col-lg-4">
                    <h6>July<span>2024</span></h6>
                  </div>
                  <div class="col-lg-8">
                    <a href="meeting-details.html"><h4>Holiday Inn, Merida, Yucatán<br>Collocated with ICCBR'24</h4></a>
                  </div>
            
                </div>
                </div>
              </div>
            </div>


            <div class="col-lg-4 col-md-6 col-sm-12">
              <div class="meeting-item">
                <div class="row thumb">
                  <a href="https://2023.icaimh.org/"><img src="assets/img/icaimh2023.png"></a>
                </div>

                <div class="down-content">
                  <div class="row">
                  <div class="date col-lg-4">
                    <h6>February<span>2023</span></h6>
                  </div>
                  <div class="col-lg-8">
                    <a href="meeting-details.html"><h4>Instituto Tecnológico de Mérida, Yucatán</h4></a>
                  </div>

                </div>
                </div>
              </div>
            </div>




          </div>
        </div>
      </div>
    </div>
  </section>



    <!--<section class="px-4 section-will">
        <div class="container py-5 text-center">
            <h3 class="py-2">GALLERY ICAIMH 2023</h3>
            <div id="carousel-main" class="carousel slide carousel-fade" data-bs-ride="carousel">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img src="assets/img/background.jpg" class="d-block w-100" alt="...">
                    </div>
                    <div class="carousel-item">
                        <img src="assets/img/background.png" class="d-block w-100" alt="...">
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carousel-main"
                        data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carousel-main"
                        data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
            </div>
        </div>
    </section> -->
    <section class="px-4" style="max-width: 1300px; margin: auto;">
        <div class="container p-4 p-md-5 text-center">
            <h3 class="py-2">ACADEMIC INSTITUTIONS</h3>
            <br>
            <h5 class="d-inline-block testimonial3">past editions</h5>

            <div class="row">
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">AAAIMX</h4>
                        </div>
                        <img src="assets/img/AAAI.png" class="img-fluid card-img-to rounded-top p-3 max-image" >
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://www.aaaimx.org/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Association for the Advancement of Artificial Intelligence</h4>
                        </div>
                        <img src="assets/img/aaai-transpeps.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.aaai.org/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Universidad Complutense de Madrid</h4>
                        </div>
                        <img src="assets/img/UCM.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://www.ucm.es/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Instituto Politécnico Nacional</h4>
                        </div>
                        <img src="assets/img/IPN800x600.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.ipn.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Cinvestav</h4>
                        </div>
                        <img src="assets/img/CINV800x600.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.cinvestav.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">PSYCHSIGN UNAM</h4>
                        </div>
                        <img src="assets/img/psyUNAN_2.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.facebook.com/profile.php?id=100076071056848&mibextid=ZbWKwL" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">PSYCHSIGN</h4>
                        </div>
                        <img src="assets/img/spy.webp" class="img-fluid card-img-to ounded-top p-3 max-image" alt="">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.psychsign.org/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Tecnológico Nacional de México</h4>
                        </div>
                        <img src="assets/img/TECNM.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://www.tecnm.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Instituto Tecnológico de Mérida</h4>
                        </div>
                        <img src="assets/img/logo_tec.png" class="img-fluid card-img-to ounded-top p-3 max-image" alt="...">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                           <!-- <p>Text template</p> -->
                            <a href="https://www.itmerida.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Universidad Autónoma de Yucatán</h4>
                        </div>
                        <img src="assets/img/292px-Logo_UADY.svg.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://uady.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Universidad Nacional Autónoma de México</h4>
                        </div>
                        <img src="assets/img/unam.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://unam.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Thomson Rivers University</h4>
                        </div>
                        <img src="assets/img/tru.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://https://www.tru.ca/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Instituto Tecnológico de León</h4>
                        </div>
                        <img src="assets/img/itl.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://leon.tecnm.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Instituto Tecnológico de Tijuana</h4>
                        </div>
                        <img src="assets/img/itt.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://tijuana.tecnm.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Tecnológico de Monterrey</h4>
                        </div>
                        <img src="assets/img/tm.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://tec.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">International Institute for Intelligent Technologies</h4>
                        </div>
                        <img src="assets/img/iiit.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!--<p>Text template</p>-->
                            <a href="https://iiitechs.org" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <!-- <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Centro de Investigación en Ciencias de Información Geoespacial</h4>
                        </div>
                        <img src="assets/img/CentroGeo-CMX_Logo-V.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                           &lt;!&ndash; <p>Text template</p>&ndash;&gt;
                            <a href="https://www.centrogeo.org.mx/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
        <div class="container py-5 text-center">
            <h3 class="py-2">PARTNERS/SPONSORS</h3>
            <div class="row">

                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">JARKOL Technologies</h4>
                        </div>
                        <img src="assets/img/JAR.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                           <!-- <p>Text template</p> -->
                            <a href="https://www.jarkol.com/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Encora</h4>
                        </div>
                        <img src="assets/img/Encora logo (colored).png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                           <!-- <p>Text template</p> -->
                            <a href="https://www.encora.com/es/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Cátedra Extraordinaria BOSCH UCM en Inteligencia Artificial aplicada a Internet de las Cosas</h4>
                        </div>
                        <img src="assets/img/bosch.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://gaia.fdi.ucm.es/research/catedraBosch/" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Association for the Advancement of Intelligent Applications and Technologies with Social Impact</h4>
                        </div>
                        <img src="assets/img/maikron.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://maikron.org" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>



                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Ozelot</h4>
                        </div>
                        <img src="assets/img/ozelot.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://ozelot.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Brain House</h4>
                        </div>
                        <img src="assets/img/brainhouse.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://brainhouse.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>


                <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">Distributed Analytics</h4>
                        </div>
                        <img src="assets/img/da.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://https://distributedanalytics.co.uk" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>

                  <div class="col-md-4 my-4">
                    <div class="card h-100 inactive">
                        <div class="card-body d-flex align-items-center">
                            <h4 class="card-title w-100">ITM ACM Student Chapter</h4>
                        </div>
                        <img src="assets/img/itm-acm.png" class="img-fluid card-img-to rounded-top p-3 max-image">
                        <div class="card-body d-flex flex-column align-items-center justify-content-end">
                            <!-- <p>Text template</p> -->
                            <a href="https://itm-acm.mx" target="_blank" class="btn btn-success">
                                <i class="fa-solid fa-link" style="margin-right: 10px"></i>Visit website</a>
                        </div>
                    </div>
                </div>              

            </div>
        </div>
    </section>

<section id="media-impact" class="section-grey p-5">
  <div class="container">
    <div class="row">
      <header id="header2" class="d-flex align-items-center">
        <div class="container d-flex flex-column align-items-center">
          
          <div class="row">
        <div class="col-lg-12">
          <div class="section-heading mb-5 mt-3">
            <h2>MEDIA IMPACT</h2>
          </div>
        </div>

            <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
              <div class="m-2">
                <video width="100%" height="auto" controls>
                  <source src="SubDom2025/public/img/press/video1.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 d-flex align-items-center justify-content-center">
              <div class="m-2">
                <video width="100%" height="auto" controls>
                  <source src="SubDom2025/public/img/press/video2.mp4" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </div>
            </div>
          </div>
          
        </div>
      </header>
    </div>
  </div>
</section>




</main>

