<header class="fixed-top bg-white shadow-sm">
  <nav class="navbar navbar-expand-lg bg-white py-2 px-4" style="max-width: 1300px; margin: auto;">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">
        <img src="/assets/img/logo.png" alt="Bootstrap" width="180">
      </a>
      <button class="navbar-toggler button-toggle-custom" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
              aria-label="Toggle navigation">
        <span><i class="fa-sharp fa-solid fa-bars menu-hover"></i></span>
      </button>
      <div class="justify-content-end collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link no-active" aria-current="page" href="/">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-active" href="/page/speaker/">SPEAKERS</a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-active" href="/page/program/">PROGRAM</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              ORGANIZERS
            </a>
            <ul class="dropdown-menu center-dropdown">
              <li><a class="dropdown-item no-active" href="/page/board-of-trustees/">BOARD OF TRUSTEES</a></li>
              <li><a class="dropdown-item no-active" href="/page/program-chairs/">PROGRAM CHAIRS</a></li>
              <li><a class="dropdown-item no-active" href="/page/program-committee/">PROGRAM COMMITTEE</a></li>
              <li><a class="dropdown-item no-active" href="/page/students-committee/">STUDENTS COMMITTEE</a></li>
              <li><a class="dropdown-item no-active" href="/page/staff/">STAFF</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
               aria-expanded="false">
              CALL
            </a>
            <ul class="dropdown-menu center-dropdown">
              <li><a class="dropdown-item no-active" href="/page/call-for-abstract/">CALL FOR ABSTRACT</a></li>
              <!-- <li><a class="dropdown-item no-active" href="#">WORKSHOPS</a></li> -->
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link no-active" href="/page/registration/">REGISTRATION</a>
          </li>
          <li class="nav-item">
            <a class="nav-link no-active" href="/page/contact/">CONTACT</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
