<main class="pb-3">
    <section class="p-4">
        <h3 class="py-2">PROGRAM</h3>
            <ul class="nav nav-tabs d-flex justify-content-center border-0 custom-nav-style">
                <li class="nav-item border-0 px-2">
                    <a class="nav-link border-0 active" data-bs-toggle="tab" href="#ocho">8 de febrero</a>
                </li>
                <li class="nav-item border-0 px-2">
                    <a class="nav-link border-0" data-bs-toggle="tab" href="#nueve">9 de febrero</a>
                </li>
            </ul>
    <div class="tab-content" style="margin-left: 150px;  margin-right: 150px; text-align: center; border: 1 px red solid;">
            <div class="tab-pane px-2 active py-5" id="ocho">
                <h5 style="text-align: center;">8 de febrero</h5>
                <table class="table" style="text-align: center;">
                  <tbody>
                    <tr>
                      <td style="text-align: justify;">El rol de la inteligencia artificial en la salud mental</td>
                      <td style="text-align: justify;"><p style="font-weight: bold;"> The role of artificial 
                        intelligence in mental health
                    </tr>
                    <tr>
                        <td style="text-align: justify;">Aplicaciones de ciencia de datos para la salud mental</td>
                        <td style="text-align: justify;"><p style="font-weight: bold;"> Data Science Applications for Mental Health
                      </tr>
                    <tr>
                        <td style="text-align: justify;">Análisis Exploratorio de Datos para Identificar la Relación entre 
                            Depresión-Ansiedad y Factores Espirituales-Religiosos</td>
                        <td style="text-align: justify;"><p style="font-weight: bold;"> Exploratory Data Analysis to Identify the Relationship Between 
                            Depression-Anxiety and Spiritual-Religious Factors among Undergraduate Students
                      </tr>
                      <tr>
                        <td style="text-align: justify;">IREX: Refinamiento de cuestionarios psicológicos utilizando métodos de inteligencia artificial 
                            explicable</td>
                        <td style="text-align: justify;"><p style="font-weight: bold;"> IREX: Refinement of psychological questionnaires using 
                            explainable artificial intelligence methods
                      </tr>
                      <tr>
                        <td style="text-align: justify;">Cuidado de la salud mental: concepto, prevención y estigma en las sociedades actuales</td>
                        <td style="text-align: justify;"><p style="font-weight: bold;"> Mental health care: concept, prevention and stigma in 
                            today's societies
                      </tr>
                  </tbody>
                </table>
              </div>
                       
                        <div class="tab-pane px-2 fade py-5" style="text-align: justify" id="nueve">
                            <h5 style="text-align: center;">9 de febrero</h5>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>09:00 - 12:00</td>
                                  <td>Title: Newtonian physics behind orbital mechanics
                                      Course 1. Lecturer: Dr. Jorge Javier Hernández Gómez
                                      <br>
                                      Title: Environmental tests normativity for small satellites - CubeSat
                                      Course 3. Lecturer: Eng. Arturo Benjamín Hurtado Pérez</td>
  
                                </tr>
                                <tr>
                                  <td>12:00 - 12:30</td>
                                  <td>Lunch</td>
                                </tr>
                                <tr>
                                  <td>12:30 - 15:30</td>
                                  <td>Title: Introduction to STK (Systems Tool Kit)
                                      Workshop 1. Lecturer: M. Sc. Emilio Noé Jiménez Navarro
                                      <br>
                                      Title: Reliability of an Aerospace System
                                      Course 2. PhD Diego A. Padilla P.
                                      </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      
        </div>
    </section>
</main>