<main class="pb-3">
    <section class="p-4" style="max-width: 1300px; margin: auto;">
        <h3 class="py-2">PROGRAM</h3>
        <ul class="nav nav-tabs d-flex justify-content-center border-0 custom-nav-style">
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0 active" data-bs-toggle="tab" href="#ocho">February 8</a>
            </li>
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0" data-bs-toggle="tab" href="#nueve">February 9</a>
            </li>
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0" data-bs-toggle="tab" href="#diez">February 10</a>
            </li>
        </ul>
        <div class="d-inline-flex p-2 tab-content" style="text-align: center;">
            <div class="tab-pane px-2 active py-5" id="ocho">
                <div class="text-center"><h4><i class="fa-regular fa-sun mx-2"></i>Morning program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">09:30 - 10:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-10 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Apertura</p>
                            <p class="m-0 fw-bold color-program-morning">Opening</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Tendencias de la inteligencia artificial en el área de la salud mental</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence trends in the area of mental health</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis Alberto Morales-Hernández</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:45 - 11:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El uso de la realidad virtual para el bienestar emocional</p>
                            <p class="m-0 fw-bold color-program-morning">The use of virtual reality for emotional well-being</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">María Luisa Balderas-Escamilla</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Autónoma de Querétaro</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">11:45 - 12:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Cuidado de la salud mental: concepto, prevención y estigma en las sociedades actuales</p>
                            <p class="m-0 fw-bold color-program-morning">Mental health care: concept, prevention and stigma in today's societies</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Ana María Martín-Casado</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Internacional de la Rioja</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">12:30 - 13:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Identificación de patrones lingüísticos asociados a rasgos de la personalidad. El caso concreto de cyberbulling</p>
                            <p class="m-0 fw-bold color-program-morning">Identification of linguistic patterns associated with personality traits. The specific case of cyberbullying</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Luis De-La-Fuente-Valentín</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Internacional de la Rioja</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">13:15 - 14:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Inteligencia Artificial vs Inteligencia Humana: la importancia de la cognición y la emoción</p>
                            <p class="m-0 fw-bold color-program-morning">Artificial intelligence vs human intelligence: the importance of cognition and emotion</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Dalia Carolina Jaquez-Bermudez</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad La Salle</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="text-center"><h4><i class="fa-solid fa-cloud-moon mx-2"></i>Afternoon program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">14:45 - 15:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El psicoterapeuta</p>
                            <p class="m-0 fw-bold color-program-afternoon">The psychotherapist</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Mohamed Arce-Muñoz</p>
                            <p class="m-0 fw-bold color-program-afternoon">Benemérita Universidad Autónoma de Puebla</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">15:30 - 16:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Propuesta de intervención psicológica para la regulación emocional de los estudiantes de la Universidad de Sonora</p>
                            <p class="m-0 fw-bold color-program-afternoon">Proposal of psychological intervention for the emotional regulation of the students of the University of Sonora</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Teresa-Sotelo</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad  de Sonora</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">16:00 - 16:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Psicofisiología Aplicada a las Neurociencias y Coherencia Cerebral</p>
                            <p class="m-0 fw-bold color-program-afternoon">Applied Psychophysiology in Neurosciences and Brain Coherence</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Rodrigo Arriola-Godoy</p>
                            <p class="m-0 fw-bold color-program-afternoon">PSM Psicología y Salud Mental</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">16:45 - 17:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Dinámica de la actividad electroencefalográfica en el autismo y su modificación con estimulación magnética transcraneal</p>
                            <p class="m-0 fw-bold color-program-afternoon">Dynamics of electroencephalograpic activity in autism and its modification with transcranial magnetic</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Elisa Ester Ortiz-Cruz</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad Nacional Autónoma de México</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">17:45 - 18:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Implicaciones éticas del uso de la tecnología en la información y ejercicio profesional de la psicología</p>
                            <p class="m-0 fw-bold color-program-afternoon">Ethical implications of the use of technology in the training and professional practice of psychology</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Daniel Rodrigo Águilar-López</p>
                            <p class="m-0 fw-bold color-program-afternoon"> Instituto de Estudios Superiores de la Cuidad de México "Rosario castellanos"</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">18:15 - 19:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El rol de la inteligencia artificial en la salud mental</p>
                            <p class="m-0 fw-bold color-program-afternoon">The role of artificial intelligence in mental health</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Esperanza Carolina Orozco-del-Castillo</p>
                            <p class="m-0 fw-bold color-program-afternoon">CINVESTAV</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane px-2 fade py-5" style="text-align: justify" id="nueve">
                <div class="text-center"><h4><i class="fa-regular fa-sun mx-2"></i>Morning program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Uso de técnicas de learning analytics para la validación, mejora y aplicación de juegos serios en la clase aplicado al ciberbullying</p>
                            <p class="m-0 fw-bold color-program-morning">Use of learning analytics techniques for the validation, improvement and application of serious games in the classroom applied to cyberbullying</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Antonio Calvo-Morata</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Complutense de Madrid</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:45 - 11:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Un videojuego para apoyo en el diagnóstico y tratamiento del déficit de atención</p>
                            <p class="m-0 fw-bold color-program-morning">A video game to support the diagnosis and treatment of attention deficit</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Mauricio Gabriel Orozco-del-Castillo</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">11:15 - 11:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Implementación de técnicas para el tratamiento de síntomas de ansiedad para el desarrollo de un videojuego con biorretroalimentación</p>
                            <p class="m-0 fw-bold color-program-morning">Implementation of techniques for the treatment of anxiety symptoms for the development of a video game with biofeedback</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Alejandro Sánchez-Sánchez</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">12:00 - 12:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Panorama actual del desarrollo de videojuegos</p>
                            <p class="m-0 fw-bold color-program-morning">Current panorama of video game development</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Guillermo Jiménez-Díaz</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Complutense de Madrid</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">12:45 - 13:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Competición Internacional de Comportamientos Inteligentes de MsPacMan vs Ghosts - 2023</p>
                            <p class="m-0 fw-bold color-program-morning">International Competition of Intelligent Behaviors of MsPacman vs Ghosts</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Juan Antonio Recio-García</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Complutense de Madrid</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">13:30 - 14:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El uso de videojuegos para la evaluación de la ansiedad</p>
                            <p class="m-0 fw-bold color-program-morning">The use of videogames for the assessment of anxiety</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Alejandro Jesús Rivero-Baas</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="text-center"><h4><i class="fa-solid fa-cloud-moon mx-2"></i>Afternoon program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">14:45 - 15:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">ChatGPT: Cómo el chatbot puede mejorar la Interacción humano-computadora</p>
                            <p class="m-0 fw-bold color-program-afternoon">ChatGPT: How the chatbot can improve Human-Computer Interaction</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Victor Hugo Martínez-González</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">15:15 - 15:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Procedimientos para entrenar una clasificación basada en ChatGPT para la detección de salud mental en una población universitaria</p>
                            <p class="m-0 fw-bold color-program-afternoon">Procedures for training a ChatGPT-based classification for mental health screening in a college population</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Carlos C. Contreras-Ibáñez</p>
                            <p class="m-0 fw-bold color-program-afternoon">Universidad  Autónoma Metropolitana</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">15:45 - 16:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Un clasificador computacional basado en entropía para emociones positivas y negativas en señales de voz</p>
                            <p class="m-0 fw-bold color-program-afternoon">An entropy-based computational classifier for positive and negative emotions in voice signals</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Alfredo Sánchez-Martínez</p>
                            <p class="m-0 fw-bold color-program-afternoon">Instituto Politécnico Nacional</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">16:15 - 16:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Detección de síntomas de depresión empleando técnicas de procesamiento de señales y aprendizaje automático a  partir del análisis de la voz como biomarcador</p>
                            <p class="m-0 fw-bold color-program-afternoon">Detection of depression symptoms using signal processing techniques and machine learning from voice analysis as a biomarker</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Gerardo Arturo Pérez-Pérez</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">16:45 - 17:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Identificación de sintomas depresivos mediante el análisis acústico de la voz utilizando redes neuronales convolucionales</p>
                            <p class="m-0 fw-bold color-program-afternoon">Identification of depressive symptoms through acoustic analysis of the voice using convolutional neural networks</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Manuel Antonio Cetina-Aguilar</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">18:00 - 18:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Evaluación automatizada e inteligente de la depresión mediante el habla: una revisión y un caso de uso</p>
                            <p class="m-0 fw-bold color-program-afternoon">Automated and intelligent assessment of depression using speech: a review and a case of use</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Esteban Pacheco-Novelo</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">18:30 - 19:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Análisis del apoyo en la identificación de distorsiones cognitivas en adultos jóvenes mediante un videojuego ad hoc</p>
                            <p class="m-0 fw-bold color-program-afternoon">Analysis of support in the identification of cognitive distortions in young adults through an ad hoc video game</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Ángel Jesús Matos-Pech</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="tab-pane px-2 fade py-5" style="text-align: justify" id="diez">
                <div class="text-center"><h4><i class="fa-regular fa-sun mx-2"></i>Morning program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:00 - 10:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Un modelo de inteligencia artificial explicable para la predicción del desarrollo del parto a partir de indicadores psicológicos de ansiedad</p>
                            <p class="m-0 fw-bold color-program-morning">An explainable artificial intelligence model for the prediction of the development of childbirth from psychological indicators of anxiety</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Juan Antonio Recio-García</p>
                            <p class="m-0 fw-bold color-program-morning">Universidad Complutense de Madrid</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">10:45 - 11:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">IREX: Refinamiento de cuestionarios psicológicos utilizando métodos de inteligencia artificial explicable</p>
                            <p class="m-0 fw-bold color-program-morning">IREX: Refinement of psychological questionnaires using explainable artificial intelligence methods</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Cristian Elohim Sosa-Espadas</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">11:15 - 11:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El estudio computacional de la ansiedad con un algoritmo de inteligencia artificial</p>
                            <p class="m-0 fw-bold color-program-morning">The computational study of anxiety with an algorithm of artificial intelligence</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Alicia Muñiz-Jiménez</p>
                            <p class="m-0 fw-bold color-program-morning">National Autonomous University of Mexico</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">12:00 - 12:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">El reflejo en la vida adulta de las experiencias adversas en la infancia</p>
                            <p class="m-0 fw-bold color-program-morning">The reflection in adult life of adverse childhood experiences</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Alejandra Dzul-Sánchez</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">12:45 - 13:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Aplicaciones de ciencia de datos para la salud mental</p>
                            <p class="m-0 fw-bold color-program-morning">Data Science Applications for Mental Health</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Víctor Hugo Martínez-González</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">13:15 - 14:00</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Análisis exploratorio de datos para identificar la relación entre depresión-ansiedad y factores espirituales-religiosos</p>
                            <p class="m-0 fw-bold color-program-morning">Exploratory Data Analysis to Identify the Relationship Between Depression-Anxiety and Spiritual-Religious Factors among Undergraduate Students</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Nora Leticia Cuevas-Cuevas</p>
                            <p class="m-0 fw-bold color-program-morning">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                </div>
                <br><br>
                <div class="text-center"><h4><i class="fa-solid fa-cloud-moon mx-2"></i>Afternoon program</h4></div>
                <div class="container w-100 d-flex flex-column">
                    <div class="row custom-item d-flex justify-content-between d-none d-md-flex">
                        <div class="col-md-2 aling-style">
                            <p class="m-0 fw-bold">Schedule</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-0 fw-bold">Title</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-0 fw-bold">Speaker</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">14:45 - 15:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Identificación de signos de depresión en medios sociales por medio de técnicas de procesamiento de lenguaje natural</p>
                            <p class="m-0 fw-bold color-program-afternoon">Identification of Signs of Depression in Social Media through Natural Language Processing Techniques</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Rafael Salas-Zárate</p>
                            <p class="m-0 fw-bold color-program-afternoon">Tecnológico Nacional de México/ I. T.Orizaba</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">15:15 - 15:45</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Análisis  de rendimiento de bGWO en la selección de las características óptimas de variabilidad de la frecuencia cardíaca para el diagnóstico de estrés</p>
                            <p class="m-0 fw-bold color-program-afternoon">Performance Analysis of bGWO in Selecting the Optimal Heart Rate Variability Features for Stress Diagnosis</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Gurvinder Singh</p>
                            <p class="m-0 fw-bold color-program-afternoon">GNDU Amritsar</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">15:45 - 16:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Implicaciones y desafíos en el diseño de un sistema inteligente de diagnóstico de estrés basado en inteligencia artificial</p>
                            <p class="m-0 fw-bold color-program-afternoon">Implications and Challenges in Designing Artificial Intelligent-based Smart Stress Diagnostic System</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Manik Sharma</p>
                            <p class="m-0 fw-bold color-program-afternoon">DAV University Jalandhar</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">16:30 - 17:15</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-6 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Inteligencia artificial y salud mental humana: ¿pueden las máquinas salvarnos?</p>
                            <p class="m-0 fw-bold color-program-afternoon">Artificial intelligence and human mental health: can machines save us?</p>
                        </div>
                        <div class="col-md-4 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Speaker</p>
                            <p class="m-0">Mauricio Gabriel Orozco-del-Castillo</p>
                            <p class="m-0 fw-bold color-program-afternoon">TecNM/Instituto Tecnológico de Mérida</p>
                        </div>
                    </div>
                    <div class="row custom-item d-flex justify-content-between">
                        <div class="col-md-2 aling-style">
                            <p class="m-1 fw-bold d-md-none">Schedule</p>
                            <p class="m-0">17:15 - 17:30</p>
                            <p class="m-0">(GTM-6)</p>
                        </div>
                        <div class="col-md-10 aling-style-custom">
                            <p class="m-1 fw-bold d-md-none">Title</p>
                            <p class="m-0">Clausura</p>
                            <p class="m-0 fw-bold color-program-afternoon">Closure</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>