<main class="pb-3">
    <section class="p-4">
        <h3 class="py-2">PROGRAM</h3>
        <div class="container" style="text-align: justify;">

                    <div class="card text-center">
                        <div class="card-header">
                          <ul class="nav nav-tabs card-header-tabs">
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="true" href="#ocho">8 de febrero</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active"  href="#nueve">9 de febrero</a>
                            </li>
                            <li class="nav-item">
                              <a class="nav-link active" aria-current="true" href="#">10 de febrero</a>
                            </li>
                          </ul>
                        </div>
                        <div class="card-body" id="ocho">
                          <h5 class="card-title">8 de febrero</h5>
                          <table class="table">
                            <tbody>
                              <tr>
                                <td style="left: auto;">09:00 - 12:00</td>
                                <td style="text-align: left;"><p style="font-weight: bold;"> Title: Newtonian physics behind orbital mechanics <br>
                                    Course 1. Lecturer: Dr. Jorge Javier Hernández Gómez</p>
                                    <br><br><br>
                                    <p style="color: blue;"> Title: Environmental tests normativity for small satellites - CubeSat <br>
                                    Course 3. Lecturer: Eng. Arturo Benjamín Hurtado Pérez</p></td>

                              </tr>
                              <tr>
                                <td>12:00 - 12:30</td>
                                <td>Lunch</td>
                              </tr>
                              <tr>
                                <td>12:30 - 15:30</td>
                                <td>Title: Introduction to STK (Systems Tool Kit) <br>
                                    Workshop 1. Lecturer: M. Sc. Emilio Noé Jiménez Navarro
                                    <br><br><br>
                                    Title: Reliability of an Aerospace System <br>
                                    Course 2. PhD Diego A. Padilla P.
                                    </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>

                        <div class="card-body" id="nueve">
                            <h5 class="card-title">9 de febrero</h5>
                            <table class="table">
                              <tbody>
                                <tr>
                                  <td>09:00 - 12:00</td>
                                  <td>Title: Newtonian physics behind orbital mechanics
                                      Course 1. Lecturer: Dr. Jorge Javier Hernández Gómez
                                      <br>
                                      Title: Environmental tests normativity for small satellites - CubeSat
                                      Course 3. Lecturer: Eng. Arturo Benjamín Hurtado Pérez</td>
  
                                </tr>
                                <tr>
                                  <td>12:00 - 12:30</td>
                                  <td>Lunch</td>
                                </tr>
                                <tr>
                                  <td>12:30 - 15:30</td>
                                  <td>Title: Introduction to STK (Systems Tool Kit)
                                      Workshop 1. Lecturer: M. Sc. Emilio Noé Jiménez Navarro
                                      <br>
                                      Title: Reliability of an Aerospace System
                                      Course 2. PhD Diego A. Padilla P.
                                      </td>
                                </tr>
                              </tbody>
                            </table>
                          </div>
                      </div>
        </div>
    </section>
</main>