<main class="pb-3">
    <section class="p-5 text-center" style="max-width: 1300px; margin: auto;">
        <h3 class="d-inline-block">BOARD OF TRUSTEES</h3>
        <div class="row d-flex py-3">
            <div class="testimonial3 py-5 bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <h6 class="subtitle font-weight-normal">It is presented to all those who make up this section</h6>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme testi3 mt-4">
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/Mauricio Orozco.jpg" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Mauricio Gabriel<br>Orozco del Castillo</h6>
                                        <p class="my-2">President</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/JuanRecio.jpeg" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Juan Antonio<br>Recio-García</h6>
                                        <p class="my-2">Trustee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Universidad Complutense de Madrid.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/perfil.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Jorge Javier<br>Hernández-Gómez</h6>
                                        <p class="my-2">Trustee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Instituto Politécnico Nacional.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $('.testi3').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            1024: {
                items: 3
            }
        }
    })
</script>
