<main class="pb-3">
    <section class="p-5 h-100 text-center" style="max-width: 1300px; margin: auto;">
        <div class="text-start max-width-content m-auto mb-5">
            <h3 class="text-start title blue-txt pb-3">CONTACT</h3>
        </div>

        <div class="d-flex justify-content-between align-items-center max-width-content m-auto gap-content">
            <article class="d-flex flex-column align-items-start h-100 w-auto">
                <div class="text-start">
                    <h5 class="d-flex justify-content-start align-items-center fs-5 mb-4 fw-bolder text-black"><img class="image-icon img-fluid size-icon-info" src="../../../assets/img/contact-icons/info-icon.svg" alt="">Information</h5>

                    <p class="left-txt">The conference will be held at the Departamento de Sistemas y Computación of the <span class="blue-txt">Instituto Tecnológico de Mérida/Tecnológico Nacional de México, Campus Poniente.</span>
                    </p>
                    <p class="left-txt">Located in the Periférico de Mérida Lic. Manuel Berzunza, Zona Dorada, Mérida, Yucatán, México.</p>
                </div>
                <div class="d-flex justify-content-between align-items-center w-100 pt-3">
                    <a href="https://www.facebook.com/profile.php?id=100088870880682" target="_blank" class="text-decoration-none d-flex blue-txt align-items-center animate-contact">
                        <img src="../../../assets/img/contact-icons/facebook-icon.svg" alt="face-icon" class="image-icon img-fluid size-link-icons">
                        <p class="m-0">ICAIMH</p>
                    </a>

                    <div class="d-flex align-items-center blue-txt">
                        <img src="../../../assets/img/contact-icons/tel-icon.svg" alt="face-icon" class="image-icon img-fluid size-link-icons">
                        <p class="m-0">(999) 9645000 Ext 21801</p>
                    </div>

                    <a href="mailto:contact@icaimh.org" class="d-flex align-items-center text-decoration-none blue-txt animate-contact">
                        <img src="../../../assets/img/contact-icons/email-icon.svg" alt="face-icon" class="image-icon img-fluid size-link-icons">
                        <p class="m-0">contact@icaimh.org</p>
                    </a>
                </div>
            </article>

            <article class="h-100 p-2 map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7448.983353695774!2d-89.666809!3d21.013004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb8ba96b39a6031c!2sInstituto%20Tecnol%C3%B3gico%20de%20M%C3%A9rida%2C%20Campus%20Poniente!5e0!3m2!1ses-419!2smx!4v1673063963040!5m2!1ses-419!2smx"
                class="w-100 h-100" width="auto" height="auto" style="border:0; min-height: 250px" allowfullscreen=""
                loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </article>

        </div>
        <!-- <div class="row d-flex justify-content-md-between align-content-between">
            <div class="col-md-6 my-3 d-flex flex-column justify-content-between">
                <div>
                    <h5 class="w-100 my-4 left-txt"><i class="fa-solid fa-circle-info mx-2"></i>Information</h5>
                    <p class="left-txt">The conference will be held at the Departamento de Sistemas y Computación of the <span class="blue-txt">Instituto Tecnológico de Mérida/Tecnológico Nacional de México, Campus Poniente.</span>
                    </p>
                    <p class="left-txt">Located in the Periférico de Mérida Lic. Manuel Berzunza, Zona Dorada, Mérida, Yucatán, México.</p>
                </div>
                <div class="d-flex flex-wrap justify-content-start">
                    <div class="row align-items-center">
                        <div class="col my-2 d-flex justify-content-end animate-contact">
                            <a href="https://www.facebook.com/profile.php?id=100088870880682" target="_blank" class="text-decoration-none d-flex blue-txt">
                                <img src="assets\img\facebook-outline.svg" alt="" class="contact-icon">
                                <p class="m-0">ICAIMH</p>
                            </a>
                        </div>
                        <div class="col my-2 text-black d-flex justify-content-center align-items-center animate-contact">
                            <p class="m-0">(999) 9645000 Ext 21801</p>
                        </div>
                        <div class="col my-2 d-flex justify-content-center align-items-center animate-contact">
                            <a href="mailto:contact@icaimh.org" class="text-decoration-none pe-auto text-black">
                                <i class="fa-solid fa-envelope fs-2 py-2" style="color: forestgreen"></i><p class="m-0 fw-bold">Email</p>
                                <p class="m-0">contact@icaimh.org</p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 my-3 d-flex flex-column justify-content-between">
                <h5 class="w-100 my-4"><i class="fa-solid fa-location-dot mx-2"></i>Location</h5>
                <div class="d-flex flex-wrap justify-content-center w-100 h-100">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7448.983353695774!2d-89.666809!3d21.013004!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xcb8ba96b39a6031c!2sInstituto%20Tecnol%C3%B3gico%20de%20M%C3%A9rida%2C%20Campus%20Poniente!5e0!3m2!1ses-419!2smx!4v1673063963040!5m2!1ses-419!2smx"
                            class="w-100 h-100" width="auto" height="auto" style="border:0; min-height: 250px" allowfullscreen=""
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div> -->
    </section>
</main>