<main class="pb-3">
    <section class="p-5 text-center" style="max-width: 1300px; margin: auto;">
        <h3 class="d-inline-block">LOCAL COMMITTEE</h3>
        <div class="d-flex justify-content-center py-3">
            <div class="testimonial3 py-5">
                <!-- <div class="row justify-content-center">
                    <div class="col-md-8 text-center">
                        <h4 class="mb-3">Check what our Customers are Saying</h4>
                        <h6 class="subtitle font-weight-normal">You can relay on our amazing features list and also our customer services will be great experience for you without doubt</h6>
                    </div>
                </div> -->
                <div class="container">
                    <div class="testi3 row">
                        <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/team/usuario2.jfif" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">María Italia<br>Jiménez-Ochoa</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/team/usuario2.jfif" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">Teresita<br>Rivero-Salazar</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/team/usuario2.jfif" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">Aída Gabriela<br>Yañez-Hoyos</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/local-committee/Lucy%20Apolinar.jpg" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">Lucy<br>Apolinar-Burgos</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="testi3 row">
                       <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/local-committee/Raúl%20Cáceres.jpg" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">Raúl<br>Cáceres-Escalante</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6">
                            <div class="col my-3 min-size">
                                <div class="card card-shadow border-0 h-100">
                                    <div class="card-body d-flex flex-column justify-content-evenly">
                                        <span class="thumb-img w-100"><img src="/assets/img/team/usuario2.jfif" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                        <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                            <h6 class="mb-0 customer line-height">Sara<br>Moreno-Cimé</h6>
                                            <div class="mb-0 d-flex align-items-center info-text">
                                                <p class="w-100 mb-0">
                                                    Tecnológico Nacional de México/Instituto Tecnológico de Mérida, Mexico.
                                                </p>
                                            </div>
                                            <div class="text-center py-2 d-none">
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                                <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>
