<main class="pb-3">
    <section class="p-4">
        <h3 class="py-2">CALL FOR ABSTRACT</h3>
        <div class="container" style="text-align: justify;">
            <div><p class="text-center"><span
                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"><img
                    alt="" src="/assets/img/logo.png"
                    style="width: 100%; max-width: 472.00px; max-height: 153.86px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p></div>
            <p class=" text-center w-100"><span>Call for Abstracts</span></p>
            <p><span>The </span><span>International Conference on Artificial Intelligence for Mental Health (ICAIMH) 2023</span><span
            >&nbsp;focuses on how artificial intelligence techniques can be used to address mental health issues at local, regional, national, and international levels. Researchers, scholars, practitioners, and students are invited to submit abstracts for oral presentations (in person or virtually) at the conference including (but not limited to) the following topics:</span>
            </p>
            <ul class="start">
                <li><span>Importance of preventing, detecting, and attending mental health conditions.</span>
                </li>
                <li>
                    <span>Natural language processing of user texts for emotion or mental health conditions recognition.</span>
                </li>
                <li><span>Intelligent agents (including chatbots) for mental health.</span></li>
                <li><span>Expert systems in psychology and psychiatry.</span></li>
                <li><span>Computer vision and digital image processing in neuroimaging.</span>
                </li>
                <li><span>Ethics regarding artificial intelligence for mental health.</span></li>
                <li><span
                >Human-Computer Interaction aspects of AI-driven mental health tools.</span></li>
                <li><span>Internet of Things for biomarkers monitoring.</span></li>
                <li><span>Pattern recognition of psychological data.</span></li>
                <li><span
                >Data science for knowledge discovery on large user-generated datasets.</span></li>
                <li><span>Machine learning applied to mental health data.</span></li>
                <li><span>Status of mental health local, regional, national, or international populations.</span>
                </li>
                <li><span>Serious video games development applied to mental health.</span></li>
                <li><span>Data processing or analysis focused on emotion or mental health conditions recognition.</span>
                </li>
            </ul>
            <p><span></span></p>
            <p><span>Oral Abstract Presentation</span></p>
            <p><span>An oral presentation (20 minutes maximum, plus 10 for questions) either in person or virtually is expected during the conference for accepted works. The presentation should be supported by an abstract, which </span><span
            >may be authored by an individual or by a group, which should be in line with the main theme of the conference and linked to the conference&rsquo;s topics. Please consider the following submission checklist.</span>
            </p>
            <p><span></span></p>
            <p><span>Submission Checklist</span></p>
            <ul class="start">
                <li><span>Attend the conference main theme and topics to gain an overview and assess if your manuscript is suitable for this event;</span>
                </li>
                <li><span>use the </span><span><a
                        href="https://www.google.com/url?q=https://icaimh.org/assets/data/ICAIMH_2023_Word_Template.docx&amp;sa=D&amp;source=editors&amp;ust=1673235346527363&amp;usg=AOvVaw34mOK0VB8Q5kMN34xirUcN">Microsoft Word template</a></span><span
                >&nbsp;or </span><span><a
                        href="https://www.google.com/url?q=https://www.overleaf.com/read/ydjdqkfyphyj&amp;sa=D&amp;source=editors&amp;ust=1673235346527600&amp;usg=AOvVaw3twOlPmWqR0DcOA5J4AchW">LaTeX template</a></span><span
                >&nbsp;to prepare your manuscript;</span></li>
                <li><span>make sure that issues about publication ethics, research ethics, copyright, authorship, figure formats, data and references format have been appropriately considered;</span>
                </li>
                <li><span>ensure that all authors have approved the content of the submitted manuscript.</span>
                </li>
            </ul>
            <p><span></span></p>
            <p><span>Guidelines</span></p>
            <p><span>The following guidelines for the presentation are advisory. If you think there are good reasons to amend them, please feel free to do so.</span>
            </p>
            <ul class=" start">
                <li><span>If your abstract is for a presentation based on one or more empirical research projects, it could include the following:</span>
                </li>
            </ul>
            <ul class=" start">
                <li><span>Background and purpose:</span><span>&nbsp;description of the problem, study objectives, research question(s) and/or hypotheses</span><span
                >.</span></li>
                <li><span>Methods:</span><span>&nbsp;study design, including a description of participants and selection strategies, data collection procedures, measures, and approaches to analysis</span><span
                >.</span></li>
                <li><span>Findings:</span><span>&nbsp;specific results in summary form</span><span
                >.</span></li>
                <li><span>Conclusions and implications:</span><span>&nbsp;description of the main outcome(s) of the study and implications for practice, policy or further research.</span>
                </li>
            </ul>
            <ul class="start">
                <li><span>If your abstract is for a presentation which is not based on primary empirical research, it could include the following:</span>
                </li>
            </ul>
            <ul class="start">
                <li><span>Background and purpose of the presentatio</span><span
                >n.</span></li>
                <li><span>A summary of the main points of the presentation</span><span
                >.</span></li>
                <li>
                    <span>How the presentation will address one or more of the conference&rsquo;s aims and themes.</span>
                </li>
                <li><span>Conclusions from and implications of your presentation for practice, policy or further research.</span>
                </li>
            </ul>
            <p><span></span></p>
            <p><span>Submission instructions</span></p>
            <ul class="start">
                <li><span
                >All abstracts must be relevant to the central conference theme and/or </span><span>topics</span><span
                >. Preference will be given to abstracts that are strongly linked to the conference theme and/or subthemes, so we encourage authors to show this explicitly. </span>
                </li>
                <li><span>List at least three but no more than five references</span><span
                >.</span></li>
                <li><span>All abstracts must be submitted online </span><span>via the following </span><span
                ><a
                        href="https://www.google.com/url?q=https://easychair.org/conferences/?conf%3Dicaimh2023&amp;sa=D&amp;source=editors&amp;ust=1673235346529407&amp;usg=AOvVaw0N5TnmEoqajCb2_dFEOK4Z">EasyChair link</a></span><span
                >. Abstract submissions are due by January 22nd for revision by the conference review committee; the results of peer revision will be sent by January 29th, along with the assigned day and time of the presentation (required for the publication of the work). Submission of the corrected (if necessary) and final versions of the abstracts must be made by February 5th to receive the official acceptance notification. </span>
                </li>
            </ul>
            <p><span></span></p>
            <p><span>Presenter information</span></p>
            <p><span>The following information should be submitted for the author(s) and presenter(s): </span>
            </p>
            <ul class="start">
                <li><span>First name, </span></li>
                <li><span>last name, </span></li>
                <li><span>highest degree/designation, </span></li>
                <li><span>affiliation, </span></li>
                <li><span>country, </span></li>
                <li><span>e-mail address.</span></li>
            </ul>
            <p><span></span></p>
            <p><span>Review process</span></p>
            <p><span>Abstract proposals will be evaluated through a blind peer review by the conference review committee. The review will look at the clarity of content, quality, and rigor, and usefulness of content to conference attendees. The review committee reserves the right to make the final determination of the submitted work.</span>
            </p>
            <p><span>Questions or additional information</span></p>
            <p><span>P</span><span>lease contact us at </span><span><a
                    href="mailto:contact@icaimh.org">contact@icaimh.org</a></span><span>&nbsp;or through our </span><span><a
                    href="https://www.google.com/url?q=https://www.facebook.com/profile.php?id%3D100088870880682&amp;sa=D&amp;source=editors&amp;ust=1673235346530552&amp;usg=AOvVaw2ApQkXFCTOyWqnYmnuhYuc">social media sites</a></span><span
            >.</span></p>
            <div><p class="text-center"><span
                    style="overflow: hidden; display: inline-block; margin: 0.00px 0.00px; border: 0.00px solid #000000; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px); width: 91.13px; height: 62.35px;"><img
                    alt="" src="/assets/img/AAAI.png"
                    style="width: 91.13px; height: 62.35px; margin-left: 0.00px; margin-top: 0.00px; transform: rotate(0.00rad) translateZ(0px); -webkit-transform: rotate(0.00rad) translateZ(0px);"
                    title=""></span></p></div>
        </div>
    </section>
</main>