/* Tiny Carousel */
#slider1 {
    max-width: 1180px;
    margin: auto;
    height: 1%;

    overflow: hidden;
    position: relative;
    padding: 0 50px 10px;
    /* border: 3px solid green; */
    
}

#slider1 .viewport {
    margin: auto;
    overflow: hidden;
    position: relative;
    /* border: 1px solid black; */
    height: 400px;
}

#slider1 .prev{
    color: #1B8C3C;
    display: block;
    position: absolute;
    top: calc(50% - 18px);
    left: 0;
    top: 40%;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 32px;
}

#slider1 .next{
    color: #1B8C3C;
    border-radius: 35px;
    display: block;
    position: absolute;
    top: calc(50% - 18px);
    right: 0;
    left: auto;
    top: 40%;
    width: 35px;
    height: 35px;
    font-weight: bold;
    text-align: center;
    line-height: 35px;
    text-decoration: none;
    font-size: 32px;
}

#slider1 .buttons:hover {
    color:black;
}

#slider1 .disable {
    visibility: hidden;
}

#slider1 .overview {
    list-style: none;
    position: absolute;
    padding: 0;
    margin: 0;
    width: 240px;
    left: 0;
    top: 0;
}

#slider1 .overview ul {
    padding: 5px;
}

#slider1 .overview li {
    overflow: hidden;
    float: left;
    margin: 0 20px 0 0;
    padding: 1px;
    height: 320px;
    border: 2px solid rgb(218, 218, 219);
    width: 340px;
    border-radius: 20px;
    transition: .5s;
 }
 #slider1 .overview li img{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 180px;
    border-radius: 50%;
    object-fit: cover;
    /* border: 2px solid red; */
 }
 .redes{
    /* border: 2px solid red; */
    width: 350px;
    margin: auto;
 }
 .redes i{
    margin: 10px;
    font-size: 30px;
    display: none;
 }
 .redes a{
    color: black;
 }

 #slider1 .overview li:hover {
    /* height: 390px; */
    box-shadow: 0px 0px 10px rgb(175, 175, 175);
 }
 

 @media screen and (max-width:913px){
    #slider1 .overview li img{
        width: 180px;
     }
     #slider1 .overview li{
        width: 400PX;
        /* height: 400px;*/
     }
     #slider1 .viewport {
        overflow: hidden;
        position: relative;
        /*  border: 1px solid black;
        height: 410px; */
        width: 402px;
        margin: auto;
    }
    #slider1 .overview li:hover {
        /* height: 400px; */
        box-shadow: none;
     }
 }
 @media screen and (max-width:480px){
    #slider1 .overview li img{
        width: 120px;
        height: 120px;
     }
    #slider1 .overview li{
        width: 250PX;
        /* height: 350px; */
     }
     #slider1 .viewport {
        overflow: hidden;
        position: relative;
        /* border: 1px solid black; */
        height: 400px;
        width: 252px;
        margin: auto;
    }
    .redes{
        /* border: 2px solid red; */
        width: 250px;
     }
     #slider1 .overview li:hover {
        /*height: 350px;*/
        box-shadow: none;
     }
     
 }