.custom-width {
    width: auto !important;
}

.image-icon {
    max-width: 50px !important;
}

.center-footer {
    text-align: end !important;
}

#extend-nav {
    flex-direction: row !important;
}

@media (max-width: 768px) {
    #information-footer {
        text-align: center !important;
        margin-bottom: 1em;
    }

    .center-footer {
        text-align: center !important;
    }
}

@media (max-width: 550px) {
    #extend-nav {
        flex-direction: column !important;
    }
    .custom-width {
        width: 100% !important;
    }
}
