<main class="pb-3">
    <section class="p-5 h-100 text-center" style="max-width: 1300px; margin: auto;">
        <h3 class="d-inline-block py-2">REGISTRATION</h3>
        <p class="mb-5">
            The ICAIMH is pleased to announce that registration for ICAIMH-23 is now open.
        </p>

        <ul class="nav nav-tabs d-flex justify-content-center border-0 custom-nav-style">
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0 active" data-bs-toggle="tab" href="#english">English</a>
            </li>
            <li class="nav-item border-0 p-2">
                <a class="nav-link border-0" data-bs-toggle="tab" href="#spanish">Spanish</a>
            </li>
        </ul>

        <div class="tab-content" style="max-width: 80%; margin: auto;">
            <div class="tab-pane px-2 active py-5" id="english" style="text-align: justify">
                <h4 class="mb-4"><span>Conference Registration Instructions</span></h4>
                <p class="mb-3"><span>To attend the International Conference on Artificial Intelligence for Mental Health (ICAIMH) 2023 in M&eacute;rida, Yucat&aacute;n, Mexico, whether in person or virtually, you must register online through the </span><span><a href="https://www.eventbrite.com/cc/icaimh-2023-1574089" target="_blank" class="text-decoration-none fw-bold" style="color: #198754">EventBrite platform</a></span>.</p>
                <p class="mb-3"><span>Attendance to ICAIMH 2023 is free of charge, however, we do offer promotional commemorative products which can be ordered through the same platform and will be delivered the day of the event. You may also choose to donate any amount you wish to support the organization of the conference. </span>
                </p>
                <p class="mb-3"><span>You can choose to attend any of the days of the conference, according to your interests, either in person or virtually. If you wish to attend several days, you must register once per each day through the same platform. You can check the updated program on our website.</span>
                </p>
                <p class="mb-5"><span>Instructions on how to virtually attend the conference will be provided in the upcoming weeks through the registered email address at the time of registration.</span>
                </p>
                <p class="mb-3 text-end"><span class="fw-bold">Welcome to ICAIMH 2023!</span></p>
            </div>
            <div class="tab-pane px-2 fade py-5" id="spanish" style="text-align: justify">
                <h4 class="mb-4"><span>Instrucciones de registro de la conferencia</span></h4>
                <p class="mb-3"><span>Para asistir a la Conferencia Internacional de Inteligencia Artificial para la Salud Mental (ICAIMH) 2023 en M&eacute;rida, Yucat&aacute;n, M&eacute;xico, ya sea de manera presencial o virtual, debe registrarse en l&iacute;nea a trav&eacute;s de la </span><span><a href="https://www.eventbrite.com/cc/icaimh-2023-1574089" target="_blank" class="text-decoration-none fw-bold" style="color: #198754">plataforma EventBrite</a></span>.</p>
                <p class="mb-3"><span>La asistencia al ICAIMH 2023 es gratuita, sin embargo, ofrecemos productos promocionales conmemorativos que se pueden solicitar a trav&eacute;s de la misma plataforma y se entregar&aacute;n el d&iacute;a del evento. Tambi&eacute;n puede optar por donar cualquier cantidad que desee para apoyar la organizaci&oacute;n de la conferencia.</span>
                </p>
                <p class="mb-3"><span>Puede elegir asistir cualquiera de los d&iacute;as de la conferencia, seg&uacute;n sus intereses, ya sea de manera presencial o virtual. Si desea asistir varios d&iacute;as, debe registrarse una vez por cada d&iacute;a a trav&eacute;s de la misma plataforma. Puede revisar nuestro programa actualizado hasta el momento en nuestra p&aacute;gina web.</span>
                </p>
                <p class="mb-5"><span>Las instrucciones sobre c&oacute;mo asistir virtualmente a la conferencia se proporcionar&aacute;n en las pr&oacute;ximas semanas a trav&eacute;s de la direcci&oacute;n de correo electr&oacute;nico registrada en el momento del registro.</span>
                </p>
                <p class="mb-3 text-end"><span class="fw-bold">&iexcl;Bienvenidos al ICAIMH 2023!</span></p>
            </div>
        </div>

    </section>
</main>