<main class="pb-3">
    <section class="w-100 p-5">
        <br>
        <h3 class="py-2">SPEAKERS</h3>
        <section id="slider1">
            <i id="buttons" class="fas fa-chevron-circle-left buttons prev"></i>
            <div class="viewport p-4">
                <ul class="overview">
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Gerardo Arturo Peréz Peréz</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Mauricio Gabriel Orozco del Castillo</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Manuel Antonio Cetina Aguilar</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Jannet del Rocio Baeza Arévalo</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Angel de Jesus Matos Pech</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Luis Fernando Rodriguez Dominguez</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Alfredo Zanches Martinez</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Cristiam Elohim Sosa Espadas</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Alejandro Sánchez Sánchez</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Esteban Pacheco Novelo</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Cesas Gerardo Sulub Luit</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Alejandro Jesus Rivero Bass</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Victor Hugo Martánez Gonzáles</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Hector Ruiz Juarez</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Ana Maria Martin Casado</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Juan Antonio Recio Garcia</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Nora Leticia Cuevas Cuevas</h2>
                        <p>ING. Sistemas Computacionales</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <i  id="buttons" class="fas fa-chevron-circle-right buttons next"></i>
        </section>
    </section>
</main>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#slider1').tinycarousel();
    });
</script>
