<main >
    <section class="w-100 p-2">
        <br>
        <h3 class="py-2">SPEAKERS</h3>
        <section id="slider1">
            <i id="buttons" class="fas fa-chevron-circle-left buttons prev"></i>
            <div class="viewport p-4">
                <ul class="overview">
                    <li><img src="/assets/img/speakers/Carolina Orozco del Castillo.jpeg" />
                        <h2>  Esperanza Carolina Orozco del Castillo</h2>
                        <p>CINVESTAV
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Mauricio Orozco.jpg" />
                        <h2>Mauricio Gabriel Orozco del Castillo</h2>
                        <p>Instituto Tecnológico de Mérida
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/Nora Cuevas.jpg" />
                        <h2>Nora Leticia Cuevas Cuevas

                        </h2>
                        <p>Instituto Tecnológico de Mérida</p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/AnaMartin.jpg" />
                        <h2>Ana María Martín Casado

                        </h2>
                        <p>Universidad Internacional de la Rioja
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/guillermoJimenez.jpg" />
                        <h2>Guillermo Jiménez Díaz

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/a_calvo_morata.png" />
                        <h2>Antonio Calvo Morata

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/JuanRecio.jpeg" />
                        <h2>Juan Antonio Recio García

                        </h2>
                        <p>Universidad Complutense de Madrid
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                    <li><img src="/assets/img/speakers/speaker.jpg" />
                        <h2>Luis De La Fuente Valentín

                        </h2>
                        <p>Universidad Internacional de la Rioja
                        </p>
                        <div class="redes">
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-linkedin"></i></a>
                            <a href="#"><i class="fab fa-instagram-square"></i></a>
                        </div>
                    </li>
                </ul>
            </div>
            <i  id="buttons" class="fas fa-chevron-circle-right buttons next"></i>
        </section>
    </section>
</main>

<script type="text/javascript">
    $(document).ready(function()
    {
        $('#slider1').tinycarousel();
    });
</script>
