@import url("colors.css");

.button-join {
  background-color: var(--color-success);
  padding: 5px 20px;
  border-radius: 5px;
  margin-left: 5px;
  transition: all 0.3s ease-in-out;
}

.button-join:hover {
  background-color: var(--color-success-dark);
}

.card-button-package {
  all: unset;
  cursor: pointer;
}

.card-button-package:hover {
  all: unset;
  cursor: pointer;
}

.btn-orange {
  background-color: var(--color-primary);
  color: var(--color-white);
}
.btn-orange:hover {
  background-color: var(--color-primary-dark);
  color: var(--color-white);
}
