@import url("colors.css");

.no-active {
  border-bottom: 3px solid transparent;
}

.menu-hover {
  padding: 10px 15px;
  border-radius: 5px;
}

.button-toggle-custom {
  border: none !important;
}

.button-toggle-custom:focus {
  box-shadow: none !important;
}

@media (max-width: 991px) {
  .center-dropdown {
    text-align: center !important;
  }
}

.main-banner {
  position: relative;
  max-height: 100%;
  overflow: hidden;
  margin-bottom: -7px;
}

#bg-video {
  min-width: 100%;
  min-height: 100vh;
  max-width: 100%;
  max-height: 100vh;
  object-fit: cover;
  z-index: -1;
}

#bg-video::-webkit-media-controls {
  display: none !important;
}

.video-overlay {
  position: absolute;
  background-color: var(--opacity-bg-dark);
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
}

.main-banner {
  color: var(--color-secondary);
  background-color: var(--color-bg-gray);
}

.main-banner .caption {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  width: 100%;
}

.main-banner .caption h6 {
  margin-top: 0px;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

.main-banner .caption h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 36px;
  text-transform: uppercase;
  font-weight: 800;
  letter-spacing: 1px;
}

.main-banner .caption h2 em {
  font-style: normal;
  color: var(--color-secondary);
  font-weight: 900;
}

.main-banner .caption img {
  max-width: 200px;
  margin-bottom: 3em;
}

.main-banner .caption p {
  color: var(--color-white);
  font-size: 1.1em;
  max-width: 640px;
  margin-left: auto;
  margin-right: auto;
}

.main-banner .caption .main-button-red {
  margin-top: 30px;
}

@media screen and (max-width: 767px) {
  .main-banner .caption h6 {
    font-weight: 400;
  }

  .main-banner .caption h2 {
    font-size: 30px;
  }
}

.main-button a {
  font-size: 13px;
  color: var(--color-white);
  background-color: var(--color-secondary);
  padding: 12px 30px;
  display: inline-block;
  border-radius: 22px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s;
  text-decoration: none;
}

.main-button-red a:hover {
  opacity: 0.9;
}
