@import url("colors.css");

:root {
  --border-radius: 10px;
}

.schedule {
  /* font-family: "Segoe UI", sans-serif; */
  font-size: 15px;
  display: grid;
  grid-template-columns: 2em 1fr;
  gap: 1em;
  align-items: start;
}

.time-slot {
  font-weight: bold;
  font-size: 0.8em;
  color: var(--color-text-primary);
  padding-top: 5px;
  text-align: right;
}

.session {
  padding: 1em;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow-default);
  font-size: 0.95em;
  transition: transform 0.2s ease;
  color: var(--color-text-dark);
}

.session:hover {
  transform: translateY(-2px);
}

.session * {
  display: block;
}

.coffee-break {
  text-align: center;

  background-color: var(--color-schedule-coffee);
}

.keynote {
  background-color: var(--color-schedule-keynote);
}

.talk {
  background-color: var(--color-schedule-talk);
}

.logistics {
  text-align: center;
  background-color: var(--color-schedule-logistics);
}

.presentations {
  background-color: var(--color-schedule-presentation);
}

.panel {
  color: var(--color-white);
  background-color: var(--color-schedule-panel);
}

.separator {
  background-color: var(--color-border-separator);
  text-align: center;
}
