<main class="pb-3">
    <section class="p-5 text-center" style="max-width: 1300px; margin: auto;">
        <h3 class="d-inline-block">PROGRAM COMMITTEE</h3>
        <div class="row d-flex py-3">
            <div class="testimonial3 py-5 bg-light">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-md-8 text-center">
                            <h6 class="subtitle font-weight-normal">It is presented to all those who make up this section</h6>
                        </div>
                    </div>
                    <div class="owl-carousel owl-theme testi3 mt-4">
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Esperanza Carolina<br>Orozco del Castillo</h6>
                                        <p class="my-2">Program committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Centro de Investigación y de Estudios Avanzados.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Juan Carlos<br>Valdiviezo-Navarro</h6>
                                        <p class="my-2">Program committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Centro de Investigación en Ciencias de Información Geoespacial, A.C.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Carlos<br>Bermejo-Sabbagh</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Nora Leticia<br>Cuevas-Cuevas</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Rasikh<br>Tariq</h6>
                                        <p class="my-2">Program committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Universidad Autónoma de Yucatán.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Sergio Mauricio<br>Martínez-Monterrubio</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Universidad Internacional de La Rioja.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Karime<br>López-Puerto</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">María Italia<br>Jiménez-Ochoa</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Teresita<br>Rivero-Salazar</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Aída Gabriela<br>Yañez-Hoyos</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Lucy<br>Apolinar-Burgos</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Raúl<br>Cáceres-Escalante</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item">
                            <div class="card card-shadow border-0 mb-4">
                                <div class="card-body">
                                    <span class="thumb-img w-100"><img src="/assets/img/team/orozco800x800.png" alt="wrapkit" class="rounded-circle m-auto"/></span>
                                    <div class="d-block pt-4 d-md-flex flex-column align-items-center justify-content-evenly">
                                        <h6 class="mb-0 customer line-height">Sara<br>Moreno-Cimé</h6>
                                        <p class="my-2">Local committee</p>
                                        <div class="text-center py-2">
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-linkedin"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-orcid"></i></a>
                                            <a href="" target="_blank" class="text-decoration-none link-custom"><i class="fa-brands fa-researchgate"></i></a>
                                        </div>
                                        <div class="mb-0 d-flex align-items-center info-text">
                                            <p class="w-100 mb-0">
                                                Tecnológico Nacional de México/Instituto Tecnológico de Mérida. Mexico.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<script>
    $('.testi3').owlCarousel({
        loop: true,
        margin: 30,
        nav: false,
        dots: true,
        autoplay: true,
        responsiveClass: true,
        responsive: {
            0: {
                items: 1,
                nav: false
            },
            1024: {
                items: 3
            }
        }
    })
</script>
